<div class="container">
    <div class="row">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" id="bId">Eat Da Burger!</h1>
                <p class="lead">An interactive burger list to help you which burger you should eat next.
                </p>
            </div>
        </div>
        <div class="col-sm-6">

            <h2>Burgers that are not devoured!</h2>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{name}}


                <div data-id="{{id}}" class="devoured">
                    <p><span class="label"></span> {{burger_name}}</p>
                    {{#if devoured}}{{else}}<button class="change-devoured" data-id="{{this.id}}"
                        data-newdevoured="{{devoured}}">Devour It!</button>{{/if}}
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm-6">
            <h2>Burgers that are devoured!</h2>
            {{#each burgers}}
            {{#if devoured}}
            <li>
                {{name}}


                <div data-id="{{id}}" class="devoured">
                    <p><span class="label"></span> {{burger_name}}</p>
                    {{#if devoured}}{{else}}<button class="change-devoured" data-id="{{this.id}}"
                        data-newdevoured="{{devoured}}">Devour It!</button>{{/if}}
                </div>
            </li>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h4>Add a Burger</h4>
            <form class="create-update-form" action="burgers/create" method="POST">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="burger_name">
                </div>

                <button type="submit" class="btn btn-primary">Add Burger</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>